.header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .cart {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background: #ff9900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  cursor: pointer;
}

.list-container {
  list-style-type: none;
  padding: 0;
}

.list-container .list-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 16px 0;
  padding: 0 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e5e5;
  opacity: 0;
  animation: fadeIn 200ms ease-in both;
}

.list-item:first-child {
  margin-top: 0;
}

.list-item:last-child {
  margin-bottom: 0;
}

.list-item .price {
  text-align: right;
}

.list-item .operator {
  display: flex;
  align-items: center;
}

.operator .separator {
  width: 24px;
  height: 16px;
  margin: 0 16px;
  text-align: center;
  font-size: 18px;
}

.operator button {
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.no-items {
  text-align: center;
  margin-top: 20%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
